/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.menu,
nav {
  background-color: #8cb7cf;
  color: #141415;
  box-shadow: -50px 20px 20px -15px #915056;
}
body {
  background-color: #141415;
  font-family: "Syne", sans-serif;
  color: #ebebeb;
}
p.navbar-text {
  vertical-align: middle;
}
#menuitems {
  vertical-align: middle;
  padding-bottom: 10px;
}
.topicnav {
  background-color: #5f8b55;
  color: #141415;
  margin-bottom: -9999px;
  padding-bottom: 9999px;
  min-height: 100%;
  overflow: hidden;
  text-align:justify;
}
.col-11 {
  padding-left: 8%;
  padding-top: 4%;
}

i{
  margin-top:4%;
  padding-right:4%;
}
i:first-of-type{
  padding-top:30%;
}